NEXT_PUBLIC_SITE_URL=https://genzlamcuoi.vn
NEXT_PUBLIC_PHONE=0900000000
NEXT_PUBLIC_EMAIL=hello@genzlamcuoi.vn
NEXT_PUBLIC_ZALO_LINK=https://zalo.me/0900000000
NEXT_PUBLIC_ADDRESS=123 Đường ABC, Quận 1, TP.HCM
NEXT_PUBLIC_FORMSPREE_ID=xyzabcde
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_MAPS_EMBED=https://www.google.com/maps/embed?pb=!1m18!...
